.a {
  color: grey;
  text-decoration: none;
}

nav {
  flex-wrap: wrap;
  font-family: "Rubik", sans-serif;
  font-style: regular;
  font-size: 1rem;
  flex-direction: row;
  color: grey important!;
}

.ai-c {
  align-items: center;
}

.button {
  color: rgb(155, 155, 231);
  border-color: rgb(155, 155, 231);
}

.font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.f-bold {
  font-weight: 700;
}

.fxw-w {
  flex-wrap: wrap;
}

.hamburger {
  display: none;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 1px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #7e7e7e;
}

.jc-sb {
  justify-content: space-between;
}

.nav-link {
  transition: 0.7s ease;
}

.sticky {
  position: sticky;
  top: 0;
}

.button:hover {
  text-decoration: none important!;
  color: white;
  background-color: rgb(155, 155, 231);
  border-color: rgb(155, 155, 231);
}

.a:hover {
  color: rgb(155, 155, 231);
  text-decoration: underline;
  font-weight: 500;
  transition: 0.2s ease-in;
  text-underline-offset: 8px;
}

/* media queries */
@media (min-width: 768px) {
  .d-f\@lrg {
    display: flex;
  }

  .ml\@lrg {
    margin-left: 1.5rem;
  }

  .ord-1\@lrg {
    order: 1;
  }

  .ord-2\@lrg {
    order: 2;
  }
}

@media (min-width: 768px) {
  .d-f\@lrg {
    display: flex;
  }

  .ml\@lrg {
    margin-left: 1.5rem;
  }

  .ord-1\@lrg {
    order: 1;
  }

  .ord-2\@lrg {
    order: 2;
  }
}

@media screen and (max-width: 767px) {
  .miw-100\@sml {
    min-width: 100%;
  }
  .hamburger {
    display: block;
    float: right;
  }
  .logo {
    max-width: 100px;
  }
  .menu {
    z-index: 1;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0px;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-top: 20px;
    margin-top: 2px;
  }
  .nav-link {
    margin: 16px 0;
  }

  .menu.active {
    left: 0;
  }
}
